@media screen and (max-width: 1070px) {
    .settings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .settings_item {
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 650px) {
    .boardButtons {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}