.square {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
}